#hearder {
    .nav-top {
        background-color: rgb(2, 1, 59);
        .nav-link{
            color: white;
            i{
                font-size: 10px;
                margin-right: 10px;
            }
        }
    }
}